
.mobile {
    width: 100%;
    height: 100%;
    background-color: rgb(228, 225, 225);
}
body {
    margin: 0px;
}
.head {
    background-color: white;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding-right: 90px;
}
.material-icons {
    color: rgb(93, 173, 254);
    font-size: 35px !important;
    position: relative;
    top: 10px;
}
.add {
    text-decoration: none;
    padding-left: 525px;
}
.add1 {
    width: 100%;
    height: 100%;
   background-color: grey;
}
.add2 {
    opacity: 30%;
}
.add3 {
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    border-radius: 7px;
    position: fixed;
    top: 190px;
    left: 390px;
}
.add4 {
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    top: 7px;
}
.flexcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex {
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
}
.trip {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.flex1 {
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
}
.trip1 {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.flex2 {
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
}
.trip2 {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.flex3 {
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
}
.trip3 {
    text-decoration: none;
    color: dodgerblue;
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.flex4 {
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
}
.trip4 {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    padding-left: 10px;
    position: relative;
    top: 10px;
}
.td {
    width: 100%;
    height: 150vh;
    background-color: rgb(228, 225, 225);
}
.head1 {
    background-color: white;
    height: 50px;
    font-size: 30px;
    padding-left: 400px;
}
.add5 {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 150px;
    opacity: 20%;
}
.ad {
    background-color: grey;
}
.ad1 {
    text-decoration: none;
    color: black;
    position: relative;
    left: 400px;
}
.ad2 {
    text-decoration: none;
    color: black;
    position: relative;
    left: 500px;
}
.tp {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
    position: relative;
    left: 400px;
}
.trip11 {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
    padding-left: 60px;
    position: relative;
    top: 10px;
}
@media screen and (min-width:600px) {
    .mobile {
        background-color: aliceblue;
    }
}

